html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  display: inline-block;
  margin: 0;
  padding: .4em .75em .5em;
  vertical-align: middle;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  font-family: "Lato", sans-serif;
}

/*h1 p {
  display: inline;
  margin: 1.5rem;
  padding: 2em;
  vertical-align: top;
  line-height: 1.5;
  width: 25em;
  max-width: 25em;
}*/

h1 {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.btn {
  text-align: center;
  display: inline;
  border: 3px solid #333;
  background-color: #f2f2f2;
  border-radius: 3px;
  color: #666;
  padding: .5em;
  text-decoration: none;
}

section {
  padding: 1em;
  width: 100%;
}

.box {
  max-width: 25em;
  display: inline-block;
}
