html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  display: inline-block;
  width: 100%;
  max-width: 25em;
  margin: 1.5rem;
  padding: .4em .75em .5em;
}

body {
  display: inline;
  margin: 0;
  padding: .4em .75em .5em;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  width: 25em;
  max-width: 25em;
}

h1 {
  display: inline-block;
  text-align: left;
}

.btn {
  display: inline-block;
  border-color: #666;
  border-radius: 2px;
  text-align: center;
  background-color: #333;
  font-size: larger;
  padding: 2em;
}
