html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-width: 25em;
  margin: .5rem;
  padding: 1em;
}

body {
  display: inline;
  margin: 0;
  padding: .4em .75em .5em;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  width: 25em;
  max-width: 25em;
}

body h1 p {
  display: inline;
  margin: 1.5rem;
  padding: 2em;
  vertical-align: middle;
  line-height: 1.5;
  width: 25em;
  max-width: 25em;
}

h1 {
  display: inline-block;
  text-align: left;
}

.btn {
  display: inline-block;
  border: 3px solid #666;
  text-align: center;
  background-color: #333;
  font-size: larger;
  padding: 2em;
  max-width: 25em;
}

section {
  display: inline-block;
  display: block;
  margin: 1.5rem;
  padding: .4em .75em .5em;
  max-width: 25em;
  width: 100%;
}
